.App {
    background-image: url("./Imgs/bg2.webp");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerCustom{
   
    width: 60%;
    text-align: center;
    background-color: rgba(35, 35, 37, 0.85);
    padding: 60px;
}
@media screen and (max-width:900px){
    .containerCustom{
        width: 100%;
    }
    
}